<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.powernode.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/../order-service/src/main/java" />
        <option name="javaModelPackage" value="com.powernode.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/../order-service/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="order-service" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="album-service">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.powernode.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/../album-service/src/main/java" />
                  <option name="javaModelPacakge" value="com.powernode.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/../album-service/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.powernode.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/../album-service/src/main/java" />
                  <option name="javaServicePackage" value="com.powernode.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/../album-service/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/../album-service/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="order-service">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.powernode.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/../order-service/src/main/java" />
                  <option name="javaModelPacakge" value="com.powernode.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/../order-service/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.powernode.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/../order-service/src/main/java" />
                  <option name="javaServicePackage" value="com.powernode.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/../order-service/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/../order-service/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusIdType" value="AUTO" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="musicstore:album">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="Id" />
                  <option name="javaModelName" value="Album" />
                  <option name="moduleName" value="album-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="musicstore:genre">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="Id" />
                  <option name="javaModelName" value="Genre" />
                  <option name="moduleName" value="album-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="musicstore:order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="Id" />
                  <option name="javaModelName" value="Order" />
                  <option name="moduleName" value="order-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="musicstore:orderdetail">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="Id" />
                  <option name="javaModelName" value="Orderdetail" />
                  <option name="moduleName" value="order-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="musicstore:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="Id" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="album-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="musicstore:userrole">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="Id" />
                  <option name="javaModelName" value="Userrole" />
                  <option name="moduleName" value="album-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/../order-service/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>